body {
  background-image: linear-gradient(
    to top left, green, white, orange
  );
}




.heading {
  background-image: url('../vscode/images/narendramodi.webp');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 20px;
  width: 60%;margin-left: auto;margin-right: auto;height: 300px;border: 10px solid orange;
  padding-top: 400px;display: flex;flex-direction: column;justify-content: center;align-items: center;
}

    .nm { box-shadow: 0 0 10px blue;
    border: 6px dotted whitesmoke;
  text-shadow: 0 0 20px green;}.nm:hover {border-color: yellow;
  text-shadow: none;}

    .h1 { color: white;max-width: 65%;margin-left: auto;margin-right: auto;
  font-size: 4rem;font-weight: bold;
      box-shadow: 0 0 20px orange;
      padding: 10px 10px;
   border: 5px solid white;}
   .h1:hover {
    background-color: aliceblue;
    color: beige;border-color: gold;
     transition: box-shadow 0.5s;text-shadow: none;
     transform: scale(1.05);box-shadow: none;background-color: black;
   }
.h2 { color: saddlebrown;max-width:50%;margin: 0 auto;
  font-size: 2rem;font-weight: 600;
  box-shadow: 0 0 10px green;
  text-shadow: 0 0 5px white;
   text-align: center;background-color: lightblue;
   padding: 5px 0;
  border: 5px solid white;} .h2:hover {
    background-color: beige;
    color: black;box-shadow: none;
     transition: box-shadow 0.5s;
     transform: scale(1.05);
   }
#lines {
display: flex;
flex-direction: row;
text-align: center;
justify-content: space-evenly;
color: black;background-color: navajowhite;
margin: 5px;border-radius: 20px;
}
#lines div {
  background: burlywood;
  margin: 15px;border-radius: 40px;
}
#lines div img {
  width: 200px;
  height: 200px;
  border: 5px solid orange;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 15px yellow;
  margin: 10px;
}
#lines div img:hover {
  box-shadow: 10px 10px 25px hsl(299, 61%, 50%);
  transition: box-shadow 0.5s;
  transform: scale(1.1);
  border-color: hotpink;
}
.imagetext {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;}
.h3 {
  background: linear-gradient(to right, #1e3c72, #2a5298);
        color: white;
        text-align: center;font-family: 'Times New Roman', Times, serif;
        padding: 50px 10px; 
        font-size: 2.5rem;
        font-weight: bold;margin-top: 0;
        margin-bottom: 20px;}
        .clickhere {
          text-decoration: underline;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          color: yellow;
          margin-top: 0;
          font-size: larger;
        }
        .viki {
          font-size: 70%;
          font-weight: 600;
          color: lightgray;
        }
.btn {
        display: block;
        margin: 10px auto;
        padding: 12px 25px;
        background: #2a5298;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
   
    }

    .btn:hover {
        background: #1e3c72;
    }



#cardsec {
    display: flex;flex-direction: row;justify-content: space-evenly;
}
.cards {
margin: 0;width: 30%;
padding: 0;
background-color: lightskyblue;margin: 40px;border-radius: 30px;
box-shadow: 2px 2px 10px black;
}
.image img{
    height: 200px;width:200px;object-fit: cover;
    width: 100%;border-top-left-radius: 30px;border-top-right-radius: 30px;
}
.title, .titl, .coten, .de, .content, .des {
    text-align: center;
}
.buttn {
padding: 10px 20px;font-weight: 400;font-style: italic;
 margin-bottom: 30px;border: 1px solid black;border-radius: 20px;
text-align: center;background-color: whitesmoke;color: black;
cursor: pointer;
}
.buttn:hover {
    background-color: black;color: white;
    transition: .5s;
}

.card {
margin: 0;width: 30%;
padding: 0;
background-color: peru;margin: 40px;border-radius: 30px;
box-shadow: 2px 2px 10px black;
}
.imag img{
    height: 200px;width:200px;object-fit: cover;
    width: 100%;border-top-left-radius: 30px;border-top-right-radius: 30px;
}
.butt {
padding: 10px 20px;font-weight: 400;font-style: italic;
 margin-bottom: 30px;border: 1px solid black;border-radius: 20px;
text-align: center;background-color: whitesmoke;color: black;
cursor: pointer;
}
.butt:hover {
    background-color: black;color: white;
    transition: .5s;
}
.omg {
  text-align: center;color: hsl(246, 57%, 38%);font-size: 2rem;background-color: aliceblue;border: 3px solid wheat;font-weight: bold;
  max-width: 50%;padding: 3px 0;margin: 0 auto;border-radius: 30px;
}
.awards {
    font-size: 1.2rem;font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#text {
  font-size: large;font-weight: 700;
}

.h4 {
  text-align: center;
  }
  .social-links {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  


